@using Mobile.Models.ViewModels
@model PhotosExpressViewModel

@{
    ViewData["Title"] = "Photos Express Page";
}

@section Scripts {
    <script src="~/js/PhotosExpress/PhotosExpressEntry.js"></script>
}

<div>
    @* @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
    <p class="text-success">You are logged in as @User.Identity.Name, with an AspId of @User.FindFirst("AspId")?.Value.</p>
    }
    else
    {
    <p class="text-danger">You are not logged in.</p>
    } *@
    <h2 class="h2 py-2 text-center" ">Photo Estimate Request</h2>

    <section id="unit-details" class="mb-3">

        <div class="row mb-3">
            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="h4 mb-0">Unit Details</div>
                    <button id="clearFormBtn" class="h5 mb-0 light-blue-text p-0 bg-transparent border-0">Clear Form</button>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-12">
                <button type="button"
                        class="w-100 btn waves-effect waves-light"
                        onclick="openVinModal();">
                    Scan Unit Tag
                </button>
                @* @await Html.PartialAsync("NewCamera/VinScanner") *@
            </div>
        </div>


        <div class="row mb-0">
            <div class="col-12">
                <div class="input-field ">
                    <label for="txtReferenceNumber">Own City - Unit Number</label>
                    <input id="txtReferenceNumber" name="ClaimNumber" type="text" class="validate" required>
                    <span class="helper-text" data-error="required"></span>
                </div>

                <div class="input-field ">
                    <label for="txtLocationNumber">Last Renting Location</label>
                    <input id="txtLocationNumber" name="HertzLocation" type="text" class="validate" required>
                    <span class="helper-text" data-error="required"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label class="d-flex align-items-center">
                    <input id="ckUsedCarRecon" name="HertzUsedCarRecon" type="checkbox" class="me-2" />
                    <span>Used Car Recon</span>
                </label>
            </div>
            <div class="col-6">
                <label class="d-flex align-items-center">
                    <input id="ckTurnbackRecon" name="HertzTurnBackRecon" type="checkbox" class="me-2" />
                    <span>Turnback Recon</span>
                </label>
            </div>
        </div>

        <div class="row mb-0">
            <h6 class="col-12 left-align mb-0 mt-2">Scan the VIN to retrieve vehicle data</h6>
            <div class="col-6">
                <button id="btnLiveScan" class="w-100 btn waves-effect waves-light mt-3">Live Scan</button>
            </div>
            <div class="col-6">
                <button id="btnPictureScan" class="w-100 btn waves-effect waves-light mt-3">Picture Scan</button>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="input-field">
                    <label for="txtVIN">VIN</label>
                    <input id="txtVIN" name="Vehicle_VIN" type="text" class="validate" required>
                </div>
            </div>
            <div class="col-4">
                <div class="input-field">
                    <select id="cboYear" name="Vehicle_Year">
                        <option value="" selected></option>
                        <!-- JS will populate years here -->
                    </select>
                    <label for="cboYear">Year</label>

                </div>
            </div>
            <div class="col-8 ">
                <div class="input-field">
                    <label for="txtMake">Make</label>
                    <input id="txtMake" name="Vehicle_Make" type="text" class="validate">
                </div>
            </div>
            <div class="col-12">
                <div class="input-field">
                    <label for="txtModel">Model</label>
                    <input id="txtModel" name="Vehicle_Model" type="text" class="validate">
                </div>
            </div>
            <div class="col-6">
                <div class="input-field">
                    <label class="d-flex align-items-center">
                        <input id="ckCargoVan" name="CargoVan" type="checkbox" value="isCargoVan" class="me-2" />
                        <span>Cargo Van</span>
                    </label>
                </div>
            </div>
            <div class="col-6">
                <div class="input-field">
                    <label for="txtMileage">Milage</label>
                    <input id="txtMileage" name="Vehicle_Mileage" type="text" class="validate">
                </div>
            </div>
        </div>
    </section>

    <section id="additional-details" class="mb-3">
        <div class="row mb-3">
            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="h4 mb-0">Additional Details</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-9">
                <div class="input-field">
                @* @Html.DropDownListFor(
                         m => m.DamageSourceTypeId,
                         Model.DamageSourceTypes,
                         new { id = "cboCause" }
                         ) *@
                    <label for="cboCause">Source of Damage</label>
                </div>
            </div>
            <div class="col-3">
                <div class="input-field">
                    <label class="d-flex align-items-center">
                        <input id="ckIsLossDamageWaiver" type="checkbox" class="me-2" />
                        <span>LDW</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-12">
                <button id="btnScanRentalRecord" class="w-100 btn waves-effect waves-light ">Scan Rental Record Number</button>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="input-field ">
                    <label for="txtRentalRecord">Rental Record Number</label>
                    <input id="txtRentalRecord" type="text" class="validate" required>
                    <span class="helper-text" data-error="required"></span>
                </div>

                <div class="input-field ">
                    <label for="txtDamageVehicleIncidentReportId">Damage VIR Id</label>
                    <input id="txtDamageVehicleIncidentReportId" type="text" class="validate" required>
                    <span class="helper-text" data-error="required"></span>
                </div>
            </div>
        </div>
    </section>

    <section id="select_action_type" class="mb-3">
        <div class="row mb-4">
            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="h4 mb-0">Select Action Type</div>
                </div>
            </div>
        </div>

        <div class="row left-align mb-5">
            <div class="col-6 mb-3">
                <label>
                    <input id="repair" name="actionGroup" type="radio" value="Repair" checked />
                    <span>Repair</span>
                </label>
            </div>
            <div class="col-6">
                <label>
                    <input id="damageLiquidate" name="actionGroup" type="radio" value="DamageLiquidate" />
                    <span>Damage/Liquidate</span>
                </label>
            </div>
            <div class="col-6">
                <label>
                    <input id="salvage" name="actionGroup" type="radio" value="Salvage" />
                    <span>Salvage</span>
                </label>
            </div>
            <div class="col-6">
                <label>
                    <input id="notToBeRepaired" name="actionGroup" type="radio" value="Deferred Damage" />
                    <span>Deferred Damage</span>
                </label>
            </div>
        </div>
    </section>

    <section id="find_repair_facility">
        <div class="row mb-3">
            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="h4 mb-0">Find Repair Facility</div>
                </div>
            </div>
        </div>

        <div class="row mb-0">
            <div class="col-lg-3 col-5">
                <div class="input-field">
                    <label for="txtSearchZip">ZIP / Postal Code</label>
                    <input id="txtSearchZip" type="text" class="validate" required>
                    <span class="helper-text" data-error="required"></span>
                </div>
            </div>

            <div class="col-lg-3 col-5">
                <div class="input-field">
                    <select id="cboSearchRadius">
                        <option value="10">10 miles</option>
                        <option value="25" selected>25 miles</option>
                        <option value="50">50 miles</option>
                        <option value="100">100 miles</option>
                        <option value="500">500 miles</option>
                    </select>
                    <label for="cboSearchRadius">Search Shops Within</label>
                </div>
            </div>

            <div class="col-lg-3 col-2 align-content-start">
                <div class="input-field" style="text-align:center;">
                    <button id="btnSearchShop"
                            class="btn waves-effect waves-light"
                            style="width:100%; max-width:90px; padding:0;">
                        Go
                    </button>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-12 mb-4">
                <div class="h5 fw-bolder mb-0">Shop Search Results</div>
                <ul class="collection" id="listShopResults"
                    style="max-height: 380px; overflow: auto; border: 3px solid #e0e0e0;">
                </ul>
                <div style="h5 fw-bolder"><b>Selected Shop: </b><span id="txtSelectedShop"></span></div>

            </div>
        </div>

    </section>

    <section id="select_vehicle_type">
        <div class="row mb-3">
            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="h4 mb-0">Select Vehicle Type</div>
                </div>
            </div>
        </div>

        <div class="row left-align">
            <div class="col-6 ">
                <label>
                    <input id="typeA" name="typeGroup" type="radio" value="Program" />
                    <span>Program</span>
                </label>
            </div>
            <div class="col-6">
                <label>
                    <input id="typeO" name="typeGroup" type="radio" value="Risk" checked />
                    <span>Risk</span>
                </label>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12">
                <div class="input-field ">
                    <label for="txtReturnEmail">Return Email</label>
                    <input id="txtReturnEmail" type="email" class="validate" required>
                    <span class="helper-text" data-error="required"></span>
                </div>

                <div class="input-field ">
                    <label for="txtLocationName">Location Name</label>
                    <input id="txtLocationName" spellcheck="false" pattern=".{4,10}" type="text" class="validate" required />
                    <span class="helper-text" data-error="required"></span>
                </div>

                <div class="input-field">
                    <textarea id="txtRemarks" maxlength="300" class="materialize-textarea" required="required"></textarea>
                    <label for="txtRemarks">Damage Description</label>
                    <span class="helper-text" data-error="required">required</span>
                </div>
            </div>
        </div>
    </section>

    <section id="vehicle_photos">
        <div class="row mb-3">
            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="h4 mb-0">Vehicle Photos</div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <h6 class="col-12 left-align mb-0 mt-2">
                        Please take all photos listed below to help accurately assess the damage to your vehicle.
                        Tap the 'Upload' button when finished.
                    </h6>
                </div>
            </div>
        </div>

    @* Initialize Camera and Placeholder Images with the base set of images from the View Model *@
    @await Html.PartialAsync("~/Views/Camera/Camera.cshtml", new CameraCaptureModel { Prompts = Model.ImagePrompts })
        <div class="row mb-3">
            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center">
                    <h6 class="col-12 left-align mb-0 mt-2">
                        When finished, please tap the 'Upload' button to submit your photos.
                    </h6>
                </div>
            </div>
        </div>
    </section> 

    <button class="btn waves-effect waves-light" type="submit">Submit</button>
</div>

<script>
        document.addEventListener('DOMContentLoaded', function() {
        const yearSelect = document.getElementById('cboYear');
        const currentYear = new Date().getFullYear();
        const earliestYear = 1928; // go back until 1928

        // Populate years from current year back to 1928
        for (let y = currentYear; y >= earliestYear; y--) {
            const option = document.createElement('option');
            option.value = y;
            option.textContent = y;
            yearSelect.appendChild(option);
        }

        // Initialize Materialize select
        M.FormSelect.init(yearSelect);
    });
</script>

<style>
    #clearFormBtn {
        transition: color .2s ease;
    }

        #clearFormBtn:hover {
            color: black !important; /* any hover color */
        }

    .dropdown-content.select-dropdown {
        max-height: 300px !important;
        overflow-y: auto !important;
    }

</style>