@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity != null && User.Identity.IsAuthenticated)
{
    <p class="text-success">You are logged in as @User.Identity.Name, with an AspId of @User.FindFirst("AspId")?.Value.</p>
}
else
{
    <p class="text-danger">You are not logged in.</p>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
